.desktop-container {
  width: 100%;
  display: flex;
  overflow: auto;
  min-height: 100vh;
  align-items: center;
  flex-direction: column;
}
.desktop-desktop {
  width: 100%;
  height: 4312px;
  display: flex;
  overflow: hidden;
  align-items: flex-start;
  flex-shrink: 0;
  background-color: var(--dl-color-08-d9d9d9);
}
.desktop-frame5 {
  top: 3784px;
  left: 0px;
  right: 0px;
  width: 1280px;
  height: 528px;
  margin: auto;
  display: flex;
  overflow: visible;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-vector {
  top: 23px;
  left: 425px;
  width: 430px;
  height: 154px;
  position: absolute;
}
.desktop-text {
  top: 42px;
  left: 505px;
  color: var(--dl-color-08-d9d9d9);
  height: auto;
  position: absolute;
  font-size: 69px;
  font-style: italic;
  text-align: center;
  font-family: Mabry Pro;
  font-weight: 300;
  line-height: 66px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop-text002 {
  font-style: normal;
  font-weight: 300;
}
.desktop-text003 {
  font-style: normal;
  font-weight: 300;
}
.desktop-text004 {
  font-style: normal;
  font-weight: 300;
}
.desktop-text006 {
  top: 201px;
  left: 415px;
  color: var(--dl-color-01-262121);
  width: 450px;
  height: auto;
  position: absolute;
  font-size: 30px;
  font-style: Light;
  text-align: center;
  font-family: Mabry Pro;
  font-weight: 300;
  line-height: 61px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop-frame4 {
  top: 2546px;
  left: 0px;
  right: 0px;
  width: 1280px;
  height: 1238px;
  margin: auto;
  display: flex;
  overflow: visible;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-c1 {
  top: -111px;
  left: -167px;
  width: 1210.97998046875px;
  height: 1210.97998046875px;
  display: flex;
  opacity: 0.50;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop-vector01 {
  top: 590.2088012695312px;
  left: 590.2088012695312px;
  width: 31px;
  height: 31px;
  position: absolute;
}
.desktop-vector02 {
  top: 570.5321655273438px;
  left: 570.5321655273438px;
  width: 70px;
  height: 70px;
  position: absolute;
}
.desktop-vector03 {
  top: 550.85595703125px;
  left: 550.85595703125px;
  width: 109px;
  height: 109px;
  position: absolute;
}
.desktop-vector04 {
  top: 531.193115234375px;
  left: 531.193115234375px;
  width: 149px;
  height: 149px;
  position: absolute;
}
.desktop-vector05 {
  top: 511.516845703125px;
  left: 511.5164794921875px;
  width: 188px;
  height: 188px;
  position: absolute;
}
.desktop-vector06 {
  top: 491.8406066894531px;
  left: 491.8406066894531px;
  width: 227px;
  height: 227px;
  position: absolute;
}
.desktop-vector07 {
  top: 472.16436767578125px;
  left: 472.16436767578125px;
  width: 267px;
  height: 267px;
  position: absolute;
}
.desktop-vector08 {
  top: 452.4877624511719px;
  left: 452.4877624511719px;
  width: 306px;
  height: 306px;
  position: absolute;
}
.desktop-vector09 {
  top: 432.82489013671875px;
  left: 432.82489013671875px;
  width: 345px;
  height: 345px;
  position: absolute;
}
.desktop-vector10 {
  top: 413.1486511230469px;
  left: 413.1486511230469px;
  width: 385px;
  height: 385px;
  position: absolute;
}
.desktop-vector11 {
  top: 393.472412109375px;
  left: 393.4720458984375px;
  width: 424px;
  height: 424px;
  position: absolute;
}
.desktop-vector12 {
  top: 373.7961730957031px;
  left: 373.7961730957031px;
  width: 463px;
  height: 463px;
  position: absolute;
}
.desktop-vector13 {
  top: 354.11956787109375px;
  left: 354.11956787109375px;
  width: 503px;
  height: 503px;
  position: absolute;
}
.desktop-vector14 {
  top: 334.4570617675781px;
  left: 334.4570617675781px;
  width: 542px;
  height: 542px;
  position: absolute;
}
.desktop-vector15 {
  top: 314.78045654296875px;
  left: 314.78045654296875px;
  width: 581px;
  height: 581px;
  position: absolute;
}
.desktop-vector16 {
  top: 295.1042175292969px;
  left: 295.1042175292969px;
  width: 621px;
  height: 621px;
  position: absolute;
}
.desktop-vector17 {
  top: 275.427978515625px;
  left: 275.4283447265625px;
  width: 660px;
  height: 660px;
  position: absolute;
}
.desktop-vector18 {
  top: 255.75173950195312px;
  left: 255.75173950195312px;
  width: 699px;
  height: 699px;
  position: absolute;
}
.desktop-vector19 {
  top: 236.0751190185547px;
  left: 236.0751190185547px;
  width: 739px;
  height: 739px;
  position: absolute;
}
.desktop-vector20 {
  top: 216.41262817382812px;
  left: 216.41262817382812px;
  width: 778px;
  height: 778px;
  position: absolute;
}
.desktop-vector21 {
  top: 196.73602294921875px;
  left: 196.73602294921875px;
  width: 818px;
  height: 818px;
  position: absolute;
}
.desktop-vector22 {
  top: 177.05978393554688px;
  left: 177.06015014648438px;
  width: 857px;
  height: 857px;
  position: absolute;
}
.desktop-vector23 {
  top: 157.38352966308594px;
  left: 157.38352966308594px;
  width: 896px;
  height: 896px;
  position: absolute;
}
.desktop-vector24 {
  top: 137.70729064941406px;
  left: 137.70729064941406px;
  width: 936px;
  height: 936px;
  position: absolute;
}
.desktop-vector25 {
  top: 118.04444122314453px;
  left: 118.04444122314453px;
  width: 975px;
  height: 975px;
  position: absolute;
}
.desktop-vector26 {
  top: 98.36819458007812px;
  left: 98.36819458007812px;
  width: 1014px;
  height: 1014px;
  position: absolute;
}
.desktop-vector27 {
  top: 78.69195556640625px;
  left: 78.69158172607422px;
  width: 1054px;
  height: 1054px;
  position: absolute;
}
.desktop-vector28 {
  top: 59.01533889770508px;
  left: 59.01571273803711px;
  width: 1093px;
  height: 1093px;
  position: absolute;
}
.desktop-vector29 {
  top: 39.33909606933594px;
  left: 39.33909606933594px;
  width: 1132px;
  height: 1132px;
  position: absolute;
}
.desktop-vector30 {
  top: 19.67624282836914px;
  left: 19.67661476135254px;
  width: 1172px;
  height: 1172px;
  position: absolute;
}
.desktop-vector31 {
  top: 0px;
  left: 0px;
  width: 1211px;
  height: 1211px;
  position: absolute;
}
.desktop-text015 {
  top: 446px;
  left: 211px;
  color: var(--dl-color-01-262121);
  width: 459px;
  height: auto;
  position: absolute;
  font-size: 105px;
  font-style: italic;
  text-align: center;
  font-family: Mabry Pro;
  font-weight: 300;
  line-height: 86px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop-text017 {
  font-style: normal;
}
.desktop-text018 {
  font-style: normal;
}
.desktop-text019 {
  font-style: normal;
}
.desktop-text020 {
  font-style: normal;
}
.desktop-ellipse9 {
  top: 473px;
  left: 420px;
  width: 38px;
  height: 42px;
  position: absolute;
}
.desktop-group55 {
  top: 757px;
  left: 693px;
  width: 289px;
  height: 180px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop-rectangle24 {
  top: 0px;
  left: 18px;
  width: 186px;
  height: 41px;
  position: absolute;
}
.desktop-rectangle25 {
  top: 43px;
  left: 18px;
  width: 271px;
  height: 41px;
  position: absolute;
}
.desktop-rectangle26 {
  top: 93px;
  left: 18px;
  width: 228px;
  height: 87px;
  position: absolute;
}
.desktop-text021 {
  left: 28px;
  color: var(--dl-color-01-262121);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Mabry Pro;
  font-weight: 400;
  line-height: 42px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop-text026 {
  top: 101px;
  left: 28px;
  color: var(--dl-color-01-262121);
  width: 215px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Light;
  text-align: left;
  font-family: Mabry Pro;
  font-weight: 300;
  line-height: 25px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop-ellipse11 {
  top: 17px;
  left: 0px;
  width: 13px;
  height: 13px;
  position: absolute;
}
.desktop-group56 {
  top: 289px;
  left: 821px;
  width: 245px;
  height: 180px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop-rectangle19 {
  top: 0px;
  left: 17px;
  width: 228px;
  height: 41px;
  position: absolute;
}
.desktop-rectangle22 {
  top: 43px;
  left: 17px;
  width: 228px;
  height: 41px;
  position: absolute;
}
.desktop-rectangle23 {
  top: 93px;
  left: 17px;
  width: 228px;
  height: 87px;
  position: absolute;
}
.desktop-text028 {
  top: -12px;
  left: 22px;
  color: var(--dl-color-01-262121);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Mabry Pro;
  font-weight: 400;
  line-height: 42px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop-text033 {
  top: 101px;
  left: 28px;
  color: var(--dl-color-01-262121);
  width: 215px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Light;
  text-align: left;
  font-family: Mabry Pro;
  font-weight: 300;
  line-height: 25px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop-ellipse10 {
  top: 17px;
  left: 0px;
  width: 13px;
  height: 13px;
  position: absolute;
}
.desktop-group54 {
  top: 761px;
  left: 151px;
  width: 276px;
  height: 180px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop-rectangle27 {
  top: 0px;
  left: 22px;
  width: 166px;
  height: 41px;
  position: absolute;
}
.desktop-rectangle28 {
  top: 43px;
  left: 22px;
  width: 254px;
  height: 41px;
  position: absolute;
}
.desktop-rectangle29 {
  top: 93px;
  left: 22px;
  width: 228px;
  height: 87px;
  position: absolute;
}
.desktop-text035 {
  top: 4px;
  left: 28px;
  color: var(--dl-color-01-262121);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Mabry Pro;
  font-weight: 400;
  line-height: 42px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop-text040 {
  top: 105px;
  left: 28px;
  color: var(--dl-color-01-262121);
  width: 215px;
  height: auto;
  position: absolute;
  font-size: 22px;
  font-style: Light;
  text-align: left;
  font-family: Mabry Pro;
  font-weight: 300;
  line-height: 25px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop-ellipse12 {
  top: 21px;
  left: 0px;
  width: 13px;
  height: 13px;
  position: absolute;
}
.desktop-frame3 {
  top: 1750px;
  left: 0px;
  right: 0px;
  width: 1280px;
  height: 833px;
  margin: auto;
  display: flex;
  overflow: visible;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-text042 {
  top: 32px;
  left: 403px;
  color: var(--dl-color-01-262121);
  width: 474px;
  height: auto;
  position: absolute;
  font-size: 75px;
  font-style: italic;
  text-align: center;
  font-family: Mabry Pro;
  font-weight: 300;
  line-height: 79px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop-text043 {
  font-weight: 300;
}
.desktop-text045 {
  font-style: normal;
  font-weight: 300;
}
.desktop-text046 {
  font-style: normal;
  font-weight: 300;
}
.desktop-text047 {
  font-style: normal;
  font-weight: 300;
}
.desktop-group51 {
  top: 242px;
  left: 834px;
  width: 300px;
  height: 518.738525390625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop-group46 {
  top: 0px;
  left: 1px;
  width: 36px;
  height: 35.998756408691406px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop-vector32 {
  top: 0px;
  left: 0px;
  width: 36px;
  height: 36px;
  position: absolute;
  box-sizing: content-box;
}
.desktop-vector33 {
  top: 15.729910850524902px;
  left: 15.729910850524902px;
  width: 5px;
  height: 5px;
  position: absolute;
  box-sizing: content-box;
}
.desktop-text048 {
  top: 138.738525390625px;
  color: var(--dl-color-01-262121);
  width: 300px;
  height: auto;
  position: absolute;
  font-size: 27px;
  font-style: Light;
  text-align: left;
  font-family: Mabry Pro;
  font-weight: 300;
  line-height: 41px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop-text050 {
  top: 378.738525390625px;
  color: var(--dl-color-01-262121);
  width: 300px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: left;
  font-family: Mabry Pro;
  font-weight: 300;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop-text059 {
  top: 69px;
  color: var(--dl-color-01-262121);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Mabry Pro;
  font-weight: 400;
  line-height: 27px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop-text061 {
  top: 108px;
  color: var(--dl-color-01-262121);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: italic;
  text-align: left;
  font-family: Mabry Pro;
  font-weight: 300;
  line-height: 15px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop-group47 {
  top: 305px;
  left: 204px;
  width: 30px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop-ellipse1 {
  top: 3px;
  left: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
  border-color: rgba(38, 33, 32, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
  border-top-left-radius: var(--dl-radius-radius-round);
  border-top-right-radius: var(--dl-radius-radius-round);
  border-bottom-right-radius: var(--dl-radius-radius-round);
}
.desktop-text063 {
  left: 6px;
  color: var(--dl-color-01-262121);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: left;
  font-family: Mabry Pro;
  font-weight: 300;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop-group53 {
  top: 240px;
  left: 127px;
  width: 300px;
  height: 590.738525390625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop-text065 {
  top: 140.738525390625px;
  color: var(--dl-color-01-262121);
  width: 300px;
  height: auto;
  position: absolute;
  font-size: 27px;
  font-style: Light;
  text-align: left;
  font-family: Mabry Pro;
  font-weight: 300;
  line-height: 41px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop-text067 {
  top: 415.738525390625px;
  color: var(--dl-color-01-262121);
  width: 300px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: left;
  font-family: Mabry Pro;
  font-weight: 300;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop-group {
  top: 0px;
  left: 3px;
  width: 39px;
  height: 39.000003814697266px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop-vector34 {
  top: 18.19232177734375px;
  left: 18.343673706054688px;
  width: 2px;
  height: 2px;
  position: absolute;
}
.desktop-vector35 {
  top: 0px;
  left: 0px;
  width: 39px;
  height: 39px;
  position: absolute;
}
.desktop-vector36 {
  top: 3.31805419921875px;
  left: 3.3188791275024414px;
  width: 32px;
  height: 32px;
  position: absolute;
}
.desktop-vector37 {
  top: 8.099365234375px;
  left: 8.100322723388672px;
  width: 23px;
  height: 23px;
  position: absolute;
}
.desktop-vector38 {
  top: 21.572998046875px;
  left: 11.916672706604004px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.desktop-vector39 {
  top: 11.9156494140625px;
  left: 11.916672706604004px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.desktop-vector40 {
  top: 21.57244873046875px;
  left: 21.572526931762695px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.desktop-vector41 {
  top: 11.91650390625px;
  left: 21.572956085205078px;
  width: 6px;
  height: 6px;
  position: absolute;
}
.desktop-text078 {
  top: 71px;
  color: var(--dl-color-01-262121);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Mabry Pro;
  font-weight: 400;
  line-height: 27px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop-text080 {
  top: 110px;
  color: var(--dl-color-01-262121);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: italic;
  text-align: left;
  font-family: Mabry Pro;
  font-weight: 300;
  line-height: 15px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop-group48 {
  top: 348px;
  left: 155px;
  width: 30px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop-ellipse11 {
  top: 3px;
  left: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
  border-color: rgba(38, 33, 32, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
}
.desktop-text082 {
  left: 6px;
  color: var(--dl-color-01-262121);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: left;
  font-family: Mabry Pro;
  font-weight: 300;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop-group52 {
  top: 241px;
  left: 477px;
  width: 303px;
  height: 554.738525390625px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop-text084 {
  top: 139.738525390625px;
  left: 4px;
  color: var(--dl-color-01-262121);
  width: 299px;
  height: auto;
  position: absolute;
  font-size: 27px;
  font-style: Light;
  text-align: left;
  font-family: Mabry Pro;
  font-weight: 300;
  line-height: 41px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop-text086 {
  top: 414.738525390625px;
  color: var(--dl-color-01-262121);
  width: 299px;
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: left;
  font-family: Mabry Pro;
  font-weight: 300;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop-group1 {
  top: 0px;
  left: 4px;
  width: 43px;
  height: 35.602169036865234px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop-vector42 {
  top: 0px;
  left: 0px;
  width: 43px;
  height: 36px;
  position: absolute;
}
.desktop-vector43 {
  top: 8.2486572265625px;
  left: 13.20509147644043px;
  width: 15px;
  height: 18px;
  position: absolute;
}
.desktop-vector44 {
  top: 22.86529541015625px;
  left: 18.519113540649414px;
  width: 1px;
  height: 4px;
  position: absolute;
}
.desktop-vector45 {
  top: 22.92449951171875px;
  left: 21.484140396118164px;
  width: 1px;
  height: 4px;
  position: absolute;
}
.desktop-vector46 {
  top: 13.9073486328125px;
  left: 15.518346786499023px;
  width: 5px;
  height: 5px;
  position: absolute;
}
.desktop-vector47 {
  top: 14.02081298828125px;
  left: 21.276079177856445px;
  width: 5px;
  height: 5px;
  position: absolute;
}
.desktop-vector48 {
  top: 18.55181884765625px;
  left: 5.828091144561768px;
  width: 11px;
  height: 8px;
  position: absolute;
}
.desktop-vector49 {
  top: 7.7607421875px;
  left: 26.66336441040039px;
  width: 9px;
  height: 8px;
  position: absolute;
}
.desktop-vector50 {
  top: 6.578369140625px;
  left: 6.400234699249268px;
  width: 9px;
  height: 9px;
  position: absolute;
}
.desktop-vector51 {
  top: 19.140380859375px;
  left: 24.555044174194336px;
  width: 11px;
  height: 9px;
  position: absolute;
}
.desktop-text095 {
  top: 70px;
  left: 4px;
  color: var(--dl-color-01-262121);
  height: auto;
  position: absolute;
  font-size: 40px;
  font-style: Regular;
  text-align: left;
  font-family: Mabry Pro;
  font-weight: 400;
  line-height: 27px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop-text097 {
  top: 109px;
  left: 4px;
  color: var(--dl-color-01-262121);
  height: auto;
  position: absolute;
  font-size: 12px;
  font-style: italic;
  text-align: left;
  font-family: Mabry Pro;
  font-weight: 300;
  line-height: 15px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop-group49 {
  top: 347px;
  left: 141px;
  width: 30px;
  height: 35px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop-ellipse12 {
  top: 3px;
  left: 0px;
  width: 30px;
  height: 30px;
  position: absolute;
  border-color: rgba(38, 33, 32, 1);
  border-style: solid;
  border-width: 1px;
  border-radius: var(--dl-radius-radius-round);
}
.desktop-text099 {
  left: 6px;
  color: var(--dl-color-01-262121);
  height: auto;
  position: absolute;
  font-size: 20px;
  font-style: Light;
  text-align: left;
  font-family: Mabry Pro;
  font-weight: 300;
  line-height: 35px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop-frame2 {
  top: 1000px;
  left: 0px;
  right: 0px;
  width: 1280px;
  height: 720px;
  margin: auto;
  display: flex;
  overflow: visible;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-text101 {
  top: 34px;
  left: 99px;
  color: var(--dl-color-01-262121);
  width: 541px;
  height: auto;
  position: absolute;
  font-size: 36px;
  font-style: italic;
  text-align: left;
  font-family: Mabry Pro;
  font-weight: 300;
  line-height: 49px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop-text102 {
  font-weight: 300;
}
.desktop-text104 {
  font-style: normal;
  font-weight: 300;
}
.desktop-group50 {
  top: 32px;
  left: 295px;
  width: 803.422607421875px;
  height: 642.2068481445312px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop-vector1 {
  top: 12px;
  right: -59px;
  width: 743px;
  height: 613px;
  position: absolute;
}
.desktop-group2 {
  top: 579px;
  left: 64.56714630126953px;
  width: 64.56714630126953px;
  height: 63.206851959228516px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop-vector2 {
  top: -9px;
  left: -1px;
  width: 60px;
  height: 49px;
  position: absolute;
}
.desktop-vector3 {
  top: -15px;
  left: 12px;
  width: 40;
  height: 63px;
  position: absolute;
}
.desktop-vector4 {
  top: -19px;
  right: 1px;
  width: 48px;
  height: 45px;
  position: absolute;
}
.desktop-frame1 {
  top: 216px;
  left: 0px;
  right: 0px;
  width: 1280px;
  height: 784px;
  margin: auto;
  display: flex;
  overflow: visible;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 0;
}
.desktop-image24 {
  top: 150px;
  left: 481px;
  width: 689px;
  height: 591px;
  position: absolute;
}
.desktop-text105 {
  top: 35px;
  left: 99px;
  color: var(--dl-color-01-262121);
  width: 641px;
  height: auto;
  position: absolute;
  font-size: 88px;
  font-style: italic;
  text-align: left;
  font-family: Mabry Pro;
  font-weight: 300;
  line-height: 102px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop-text106 {
  font-weight: 300;
}
.desktop-text108 {
  font-style: normal;
  font-weight: 300;
}
.desktop-text109 {
  font-style: normal;
  font-weight: 300;
}
.desktop-text110 {
  font-style: normal;
  font-weight: 300;
}
.desktop-group30 {
  top: 27px;
  left: 386px;
  width: 290.1666564941406px;
  height: 104.72180938720703px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop-vector52 {
  top: 0px;
  left: 0px;
  width: 290px;
  height: 105px;
  position: absolute;
}
.desktop-text111 {
  top: -23px;
  left: 29px;
  color: var(--dl-color-08-d9d9d9);
  height: auto;
  position: absolute;
  font-size: 84.58300018310547px;
  font-style: Medium;
  text-align: center;
  font-family: Mabry Pro;
  font-weight: 500;
  line-height: 166.48081970214844px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop-group44 {
  top: 17px;
  left: 22px;
  width: 59px;
  height: 21.29323387145996px;
  display: flex;
  position: absolute;
  align-items: flex-start;
  flex-shrink: 1;
}
.desktop-vector53 {
  top: 0px;
  left: 0px;
  width: 59px;
  height: 21px;
  position: absolute;
}
.desktop-text113 {
  top: -5px;
  left: 6px;
  color: var(--dl-color-08-d9d9d9);
  height: auto;
  position: absolute;
  font-size: 17.198381423950195px;
  font-style: Bold;
  text-align: center;
  font-family: Mabry Pro;
  font-weight: 700;
  line-height: 33.85078048706055px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop-text115 {
  top: 9px;
  left: 100px;
  color: var(--dl-color-01-262121);
  height: auto;
  position: absolute;
  font-size: 18px;
  font-style: Light;
  text-align: left;
  font-family: Mabry Pro;
  font-weight: 300;
  line-height: 39px;
  font-stretch: normal;
  text-decoration: none;
}
.desktop-text116 {
  font-weight: 300;
}
.desktop-text117 {
  font-weight: 300;
}
